.card {
  padding: 16px;
  border: 1px solid #aaa;
  border-radius: 8px;
  margin: 10px;
  text-align: left;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  .title {
    font-size: 1.5rem;
    color: #444;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }
}